.logo {
  width: 130px;
  height: 64px;
  border: 1px solid #4ca9e3;
  margin: 32px 0 51px 40px;
}

.nav-a {
  font-size: 20px;
  line-height: 24.2px;
  color: #128410;
  margin-left: 40px;
}

.activeNav {
  color: #f50808;
}

nav ul li {
  margin-bottom: 12px;
}

.car-logo {
  margin: 51px 0 51px 40px;
  width: 1345px;
  height: 720px;
}

.section_desc {
  font-size: 24px;
  line-height: 29.05px;
  color: #20ff0d;
  width: 1345px;
  height: 58px;
  margin-left: 40px;
}

.footer-of-page {
  margin: 51px 0 0 40px;
}

.instagram {
  margin: 0 20px;
}
